In [6]:
import numpy as np
import pandas as pd

In [7]:
gallup = pd.read_csv("USAIPO1936-0053.csv")

In [8]:
gallup

,form,state,region,female,age,class,OCCUPATION1,OCCUPATION2,OCCUPATION3,black,...,StPOAbrv,SOUTH11,SOUTH11xBLACK,SOUTH12,SOUTH12xBLACK,south,SOUTHxBLACK,year,WtPubFeas,WtVotFeas
0,NaN,Indiana,East Central,Male,NaN,Av+,Skilled workers,NaN,NaN,NaN,...,in,Non-South,NaN,Non-South,NaN,Non-South,NaN,1936,NaN,NaN
1,NaN,Illinois,East Central,Male,NaN,Av+,Skilled workers,NaN,NaN,NaN,...,il,Non-South,NaN,Non-South,NaN,Non-South,NaN,1936,NaN,NaN
2,NaN,Michigan,East Central,Male,NaN,Av,Business,NaN,NaN,NaN,...,mi,Non-South,NaN,Non-South,NaN,Non-South,NaN,1936,NaN,NaN
3,NaN,Virginia,South and Southwest,Male,55 yrs and over,P or P+,Skilled workers,NaN,NaN,NaN,...,va,South,NaN,South,NaN,South,NaN,1936,NaN,NaN
4,NaN,Florida,South and Southwest,Male,55 yrs and over,Av+,Skilled workers,NaN,NaN,NaN,...,fl,South,NaN,South,NaN,South,NaN,1936,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5510,NaN,Mississippi,South and Southwest,Male,55 yrs and over,Av+,Skilled workers,NaN,NaN,NaN,...,ms,South,NaN,South,NaN,South,NaN,1936,NaN,NaN
5511,NaN,Indiana,East Central,Male,25-34 yrs,Av+,Skilled workers,NaN,NaN,NaN,...,in,Non-South,NaN,Non-South,NaN,Non-South,NaN,1936,NaN,NaN
5512,NaN,Illinois,East Central,Male,25-34 yrs,Av,Professiol,NaN,NaN,NaN,...,il,Non-South,NaN,Non-South,NaN,Non-South,NaN,1936,NaN,NaN
5513,NaN,Michigan,East Central,Female,35-44 yrs,Av,Professiol,NaN,NaN,NaN,...,mi,Non-South,NaN,Non-South,NaN,Non-South,NaN,1936,NaN,NaN
5514,NaN,Ohio,East Central,Male,55 yrs and over,Av+,Skilled workers,NaN,NaN,NaN,...,oh,Non-South,NaN,Non-South,NaN,Non-South,NaN,1936,NaN,NaN

In [11]:
gallup.head(3).T

,0,1,2
form,NaN,NaN,NaN
state,Indiana,Illinois,Michigan
region,East Central,East Central,East Central
female,Male,Male,Male
age,NaN,NaN,NaN
class,Av+,Av+,Av
OCCUPATION1,Skilled workers,Skilled workers,Business
OCCUPATION2,NaN,NaN,NaN
OCCUPATION3,NaN,NaN,NaN
black,NaN,NaN,NaN
size,Urban,Urban,Urban
education,NaN,NaN,NaN
AGE_3WAY,NaN,NaN,NaN
AGE40,NaN,NaN,NaN
OCC8,Labor,Labor,Professional
prof,Not Professional,Not Professional,Professional
REGION4,Midwest,Midwest,Midwest
EDU_RECODE,NaN,NaN,NaN
VOTE_PRO,Landon,Landon,Landon
VOTE_RETRO,Hoover,Hoover,Hoover
PHONE_RECODE,NaN,NaN,NaN
CAR_RECODE,NaN,NaN,NaN
ballot,53,53,53
Q1,Yes,Yes,No
Q2,Yes,NaN,No
Q3,Yes,Yes,Yes
Q4A,Roosevelt,Landon,Landon
Q4B,Roosevelt,Landon,Landon
Q4C,Landon,Landon,Landon
Q5A,Landon,Landon,Landon
Q5B,"Yes, voted for Hoover","Yes, voted for Hoover","Yes, voted for Hoover"
farm,Non-Farm,Non-Farm,Non-Farm
SIZE3,Urban,Urban,Urban
urban,Urban,Urban,Urban
StPOAbrv,in,il,mi
SOUTH11,Non-South,Non-South,Non-South
SOUTH11xBLACK,NaN,NaN,NaN
SOUTH12,Non-South,Non-South,Non-South
SOUTH12xBLACK,NaN,NaN,NaN
south,Non-South,Non-South,Non-South
SOUTHxBLACK,NaN,NaN,NaN
year,1936,1936,1936
WtPubFeas,NaN,NaN,NaN
WtVotFeas,NaN,NaN,NaN

In [12]:
pd.crosstab(gallup["Q5A"], gallup["Q3"])

Q3            No   Yes
Q5A
Landon       921   820
Lemke         41   109
Other party    6     6
Roosevelt    442  2048
Thomas        10    41

In [14]:
abc = pd.read_stata("31120637.dta")

In [16]:
abc.head(3).T

,0,1,2
id,258570001,258570002,258570003
weight_pid,0.7642,0.5744,0.7369
xspanish,english,english,english
complete_status,qualified,qualified,qualified
ppage,61,77,66
ppeduc5,high school graduate (high school diploma or t...,masters degree or above,bachelors degree
ppeducat,high school,bachelors degree or higher,bachelors degree or higher
ppgender,male,male,male
ppethm,"white, non-hispanic","white, non-hispanic","white, non-hispanic"
pphhsize,1,2,3
ppinc7,"$25,000 to $49,999","$150,000 or more","$50,000 to $74,999"
ppmarit5,never married,now married,now married
ppmsacat,metro,metro,metro
ppreg4,midwest,south,northeast
pprent,owned or being bought by you or someone in you...,owned or being bought by you or someone in you...,owned or being bought by you or someone in you...
ppstaten,wisconsin,florida,maine
ppworka,self-employed,retired,retired
ppemploy,working full-time,not working,working part-time
xparent,not parents of children 0-17 yo,not parents of children 0-17 yo,not parents of children 0-17 yo
q1_1,unfavorable,unfavorable,unfavorable
q1_2,favorable,favorable,favorable
q2,wrong direction,right direction,right direction
q3_1,not important at all,somewhat important,somewhat important
q3_2,not important at all,very important,somewhat important
q3_3,very important,very important,very important
q3_4,not important at all,somewhat important,somewhat important
q3_5,not important at all,somewhat important,somewhat important
q3_6,not important at all,very important,very important
q3_7,not important at all,very important,very important
q3_8,not important at all,very important,somewhat important
q3_9,not important at all,very important,very important
q3_10,not important at all,somewhat important,somewhat important
q3_11,not important at all,very important,very important
q4_1,neither,democrats,democrats
q4_2,neither,democrats,both
q4_3,neither,democrats,democrats
q4_4,neither,democrats,both
q4_5,neither,democrats,neither
q4_6,neither,democrats,democrats
q4_7,neither,democrats,democrats
q4_8,neither,democrats,democrats
q4_9,neither,democrats,both
q4_10,neither,democrats,democrats
q4_11,neither,democrats,democrats
q5,would make no difference in your vote,would make no difference in your vote,more likely to vote for the republican candida...
q6,would make no difference in your vote,would make no difference in your vote,would make no difference in your vote
q260,no religion,no religion,"evangelical or protestant christian (baptist, ..."
q26a,NaN,NaN,no
qpid,something else,a democrat,an independent
abcage,50-64,65+,65+
contact,"no, i am not willing to be interviewed","yes, i am willing to be interviewed","yes, i am willing to be interviewed"

In [18]:
abcsv = pd.read_csv("31120637.csv", encoding="windows-1252")

In [20]:
widths = pd.read_csv("USIAdatawidths.csv")

In [22]:
widths['Width']

0      4
1      3
2      1
3      1
4      1
      ..
131    2
132    1
133    1
134    1
135    1
Name: Width, Length: 136, dtype: int64

In [31]:
usia = pd.read_fwf("i20068.dat", widths = widths['Width'], header = None)

In [32]:
usia

,0,1,2,3,4,5,6,7,8,9,...,126,127,128,129,130,131,132,133,134,135
0,1,155.0,2.0,1.0,2.0,108.0,1.0,2.0,1.0,4.0,...,3.0,1.0,5.0,6.0,2.0,4.0,4.0,NaN,NaN,6.0
1,2,155.0,2.0,1.0,2.0,120.0,NaN,9.0,1.0,3.0,...,3.0,1.0,6.0,6.0,1.0,NaN,NaN,NaN,NaN,NaN
2,3,155.0,2.0,1.0,2.0,102.0,1.0,4.0,NaN,NaN,...,2.0,1.0,5.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN
3,4,155.0,2.0,1.0,2.0,129.0,NaN,9.0,1.0,3.0,...,2.0,1.0,6.0,5.0,1.0,NaN,NaN,NaN,NaN,NaN
4,5,155.0,2.0,1.0,1.0,1.0,1.0,3.0,NaN,9.0,...,3.0,1.0,6.0,7.0,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2033,2248,283.0,2.0,2.0,2.0,102.0,NaN,6.0,1.0,1.0,...,5.0,1.0,21.0,7.0,2.0,5.0,7.0,NaN,NaN,7.0
2034,2249,283.0,2.0,2.0,8.0,NaN,9.0,8.0,NaN,NaN,...,1.0,1.0,51.0,7.0,2.0,4.0,1.0,NaN,NaN,1.0
2035,2250,283.0,2.0,2.0,9.0,NaN,9.0,8.0,NaN,NaN,...,4.0,1.0,31.0,7.0,2.0,3.0,6.0,NaN,NaN,4.0
2036,2251,255.0,1.0,2.0,2.0,163.0,NaN,9.0,NaN,6.0,...,4.0,1.0,11.0,7.0,2.0,3.0,6.0,NaN,NaN,1.0
2037,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN