In [ ]:
# Metadata

```yaml
Course:   DS 5100
Term:     Fall 2023 Online
Module:   M02 Homework
Author:   R.C. Alvarado
Date:     19 August 2023
```

# Student Info

* Name: 
* Net ID:
* URL of this file in GitHub:

In [ ]:
# Instructions

In your **private course repo on Rivanna**, write a Jupyter notebook running Python that performs the numbered tasks below. For each task, create a code block to perform the task.

Save your notebook in the `M02` directory as `hw02.ipynb`. 

Add and commit these files to your repo. 

Then push your commits to your repo on GitHib.

Be sure to fill out the **Student Info** block above.

To submit your homework, save the notebook as a PDF and upload it to GradeScope, following the instructions.

**10 Points**

In [ ]:
# Data

```
Table 1: GRADES

name    grade
Jon     95
Mike    84
Jaime   99


Table 2: TOUCHDOWNS

name    touchdowns
Alex    2
Patrick 4
Tom     1
Joe     3
Alex    1
```

In [ ]:
# Tasks

In [ ]:
## Task 1

Using the data in Table 1, create a dictionary called `gradebook` where the keys contain the names and the values are the associated grades. Print the dictionary.  (1 PT)

In [40]:
# Put code here

In [ ]:
## Task 2 

Index into the gradebook to print Mike's grade. Do NOT use the `get()` method for this. (1 PT)

In [2]:
# Put code here

In [ ]:
## Task 3

Attempt to index into gradebook to print Jeff's grade. Show the result. Do NOT use the `get()` method for this. (1 PT)

In [2]:
# Put code here

In [ ]:
## Task 4

Using Table 2, build a list from the names called `names` and print it. (1 PT)

In [2]:
# Put code here

In [ ]:
## Task 5

Sort the list in ascending order and print it. (1 PT)

In [3]:
# Put code here

In [ ]:
## Task 6 

Build a set from the names in Table 2 and print it. (1 PT)

In [2]:
# Put code here

In [ ]:
## Task 7

Build a dictionary from the touchdowns data, calling it `td`, and print it. Use lists to store the values. Remember that dictionary keys must be unique. (1 PT)

In [4]:
# Put code here

In [ ]:
## Task 8

Compute the sum of Alex's touchdowns using the appropriate built-in function. (1 PT)

In [6]:
# Put code here

In [ ]:
## Task 9

Get the keys from `td` and save them as a sorted list `list1`. Then get a set from `names` and save them as a sorted list called `list2`. Compare them with a boolean operator to see if they are equal. (2 PTS)

In [32]:
# Put code here