In [2]:
import numpy as np
import pandas as pd
import requests
import json

In [3]:
url = "https://api.sportradar.com/mlb/trial/v7/en/league/teams.json?api_key=MoxxuC14537WIDKvXqnAHTKHiJDgHtpK4PiwZZmN"

headers = {"accept": "application/json"}

response = requests.get(url, headers=headers)

teams = pd.json_normalize(json.loads(response.text), record_path = ["teams"])
teams.head()

,name,market,abbr,id
0,51s,Las Vegas,LAS VEGAS,52a61304-9af6-4944-8d65-1dda54fecdef
1,American League,AL,AL,dd59d49e-caee-4443-9220-f05d0d9bd1e1
2,Angels,Los Angeles,LAA,4f735188-37c8-473d-ae32-1f7e34ccf892
3,Astros,Houston,HOU,eb21dadd-8f10-4095-8bf3-dfb3b779f107
4,Athletics,NaN,ATH,27a59d3b-ff7c-48ea-b016-4798f560f5e1

In [4]:
stats = pd.DataFrame()
for i in teams['id']:
    url = "https://api.sportradar.com/mlb/trial/v7/en/seasons/2023/REG/teams/"+i+"/statistics.json?api_key=MoxxuC14537WIDKvXqnAHTKHiJDgHtpK4PiwZZmN"
    headers = {"accept": "application/json"}
    response = requests.get(url, headers=headers)
    stats = pd.concat([stats, pd.json_normalize(json.loads(response.text))])
stats.head()

,name,market,abbr,id,_comment,season.id,season.year,season.type,players,statistics.hitting.overall.ab,...,statistics.fielding.overall.steal.caught,statistics.fielding.overall.steal.stolen,statistics.fielding.overall.steal.pickoff,statistics.fielding.overall.steal.pct,statistics.fielding.overall.errors.throwing,statistics.fielding.overall.errors.fielding,statistics.fielding.overall.errors.interference,statistics.fielding.overall.errors.total,statistics.fielding.overall.assists.outfield,statistics.fielding.overall.assists.total
0,51s,Las Vegas,LAS VEGAS,52a61304-9af6-4944-8d65-1dda54fecdef,Generation started @ 2024-11-20 18:15:53 UTC e...,c8bca8f4-fb0f-44ed-95e0-8ced816ae8d8,2023,REG,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,American League,AL,AL,dd59d49e-caee-4443-9220-f05d0d9bd1e1,Generation started @ 2024-11-20 18:15:53 UTC e...,c8bca8f4-fb0f-44ed-95e0-8ced816ae8d8,2023,REG,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Angels,Los Angeles,LAA,4f735188-37c8-473d-ae32-1f7e34ccf892,Generation started @ 2024-11-20 18:15:53 UTC e...,c8bca8f4-fb0f-44ed-95e0-8ced816ae8d8,2023,REG,"[{'preferred_name': 'Zach', 'first_name': 'Zac...",5489.0,...,22.0,89.0,0.0,0.198,48.0,42.0,5.0,95.0,21.0,1284.0
0,Astros,Houston,HOU,eb21dadd-8f10-4095-8bf3-dfb3b779f107,Generation started @ 2024-11-20 18:15:54 UTC e...,c8bca8f4-fb0f-44ed-95e0-8ced816ae8d8,2023,REG,"[{'preferred_name': 'Ryne', 'first_name': 'Ryn...",5567.0,...,31.0,127.0,1.0,0.196,48.0,31.0,2.0,81.0,20.0,1346.0
0,Athletics,Oakland,OAK,27a59d3b-ff7c-48ea-b016-4798f560f5e1,Generation started @ 2024-11-20 18:15:54 UTC e...,c8bca8f4-fb0f-44ed-95e0-8ced816ae8d8,2023,REG,"[{'preferred_name': 'Ryan', 'first_name': 'Rya...",5311.0,...,49.0,110.0,0.0,0.308,49.0,49.0,4.0,102.0,26.0,1269.0

In [5]:
players = pd.DataFrame()
for i in teams['id']:
    url = "https://api.sportradar.com/mlb/trial/v7/en/seasons/2023/REG/teams/"+i+"/statistics.json?api_key=MoxxuC14537WIDKvXqnAHTKHiJDgHtpK4PiwZZmN"
    headers = {"accept": "application/json"}
    response = requests.get(url, headers=headers)
    if 'players' in pd.json_normalize(json.loads(response.text)):
        players = pd.concat([players, pd.json_normalize(json.loads(response.text), record_path = 'players')])
players.head()

,preferred_name,first_name,last_name,jersey_number,id,full_name,position,primary_position,statistics.hitting.overall.ab,statistics.hitting.overall.lob,...,statistics.pitching.starters.games.shutout,statistics.pitching.starters.games.complete,statistics.pitching.starters.games.win,statistics.pitching.starters.games.loss,statistics.pitching.starters.games.save,statistics.pitching.starters.games.hold,statistics.pitching.starters.games.blown_save,statistics.pitching.starters.games.team_win,statistics.pitching.starters.games.team_loss,suffix
0,Zach,Zachary,Neto,9,c34395a5-a824-4820-9bca-3d32d0bf4a14,Zach Neto,IF,SS,289.0,114.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Mike,Michael,Trout,27,7f518632-2d5d-48c8-b994-2d4d43a1ef3b,Mike Trout,OF,CF,308.0,132.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nolan,Nolan,Schanuel,18,55915d43-9546-4325-adcc-e2c2bfc87257,Nolan Schanuel,IF,1B,109.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Andrew,Andrew,Velazquez,NaN,8795cd8e-0a6d-4207-b0b9-ccedd1822c13,Andrew Velazquez,IF,SS,81.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Trey,Trey,Cabbage,38,0a039417-4f92-4a88-bf1e-df715d481ffb,Trey Cabbage,IF,1B,53.0,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
stats.to_csv('MLBstats.csv')
players.to_csv('MLBplayers.csv')